.Bmi-From{
    border-radius: 8px;
    padding: .5rem 2rem;
    box-shadow: 2px 2px 18px -3px darkgrey;
}
.Bmi-From .form-head h3{
    font-weight: 600;
    color: rgb(114, 114, 114);
    text-align: center;
}
.Bmi-From .form-group{
    display: inline-block;
    margin: 1rem;
}
.Bmi-From .form-group label{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.Bmi-From .form-group input{
    height: 48px;
    padding: 6px;
    border: 1px solid darkseagreen;
    border-radius: 5px;
    max-width: 140px;
}
.Bmi-From .form-group input::placeholder{
    color: darkgray;
    font-weight: 600;
    font-size: 16px;
}
.Bmi-From .form-button{
    margin: 1rem;
}
.Bmi-From .form-button button{
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background: #0a58ca;
    font-size: 14px;
}
.Bmi-From .form-button button:hover{
    opacity: 0.8;
}